<%- include('partials/header', { title: 'Error 404', user: user }) %>
    <h2>Error 404</h2>
    <p>La página que estás buscando no existe.</p>
    <a href="/">Volver al inicio</a>
<%- include('partials/footer') %>