<%- include('partials/header', { title: title, user: user }) %>
    <h2><%= title %></h2>
    <p><%= message %></p>
    <a href="/login">Volver al inicio de sesión</a>
<%- include('partials/footer') %>